In [1]:
# split

mystr= 'Hello World'
print(mystr.split())

['Hello', 'World']

In [3]:
langs = 'C,Python,R,Java,SQL,Hadoop'
print(langs.split(','))

['C', 'Python', 'R', 'Java', 'SQL', 'Hadoop']

In [4]:
fruits= 'apple$banana$mango$fig$pear'
print(fruits.split('$'))

['apple', 'banana', 'mango', 'fig', 'pear']

In [5]:
'''
The following example limits the split by specifying the maxsplit parmeter
'''

'\nThe following example limits the split by specifying the maxsplit parmeter\n'

In [6]:
langs = 'C,Python,R,Java,SQL,Hadoop'
print(langs.split(',',3))

['C', 'Python', 'R', 'Java,SQL,Hadoop']

In [7]:
fruits = 'apple$banana$mango$fig$pear'
print(fruits.split('$',2))

['apple', 'banana', 'mango$fig$pear']

In [10]:
#Python String upper() Method
#The upper method returns a string in the upper case

In [9]:
mystr= 'Hello World'
mystr.upper()

'HELLO WORLD'

In [15]:

# Tupple 

#sequence data structure
#enclose in ()
#indexed , ordered
#"immutable"---can not be change once created

#question:--- What is the difference between list and tuple 
            # list is mutable and tuple iss imutable 
#imutable can not be chang once created


t1=(12,23,34,45,56) # tuple of integers
t1=("how","are","you")
t1=((1,2),(2,3))

In [5]:
#tuple constructor

t1=tuple("Iqbal")

a=12,23,34

t1=12,23,34,45,56  # tuple packing

a,b,c,d,e=t1   # packing
print(a)
print(b)
print(c)
print(d)
print(e)

12
23
34
45
56

In [17]:
t2=(12)
print(type(t2))   # integer

<class 'int'>

In [2]:
# update an element in the tuple
t1=(1,2,3,4,5,6,77)
ls=list(t1)
ls[2]="hello"
t1=tuple(ls)
print(t1)

(1, 2, 'hello', 4, 5, 6, 77)

In [3]:
# delete all type not any element
del t1
print(t1)

NameError: name 't1' is not defined

In [3]:
langs = 'C,Python,R,Java,SQL,Hadoop'
print(langs.split(','))

['C', 'Python', 'R', 'Java', 'SQL', 'Hadoop']

In [6]:
t2=(12,)
print(type(t2))

<class 'tuple'>

In [7]:
t1=tuple("Iqbal")
print(t1)

('I', 'q', 'b', 'a', 'l')

In [8]:
a=12,23,34
a

(12, 23, 34)

In [9]:
t1=(12,23,34,45,56,67)
print(t1[0])
print(t1[3])
print(t1[-1])
print(t1[-2])

12
45
67
56

In [11]:
t1=(12,23,34,44)
t2=("how","are")
print(t1+t2)

(12, 23, 34, 44, 'how', 'are')

In [13]:
t1=(12,23,34,45,23,67)
print(t1)
x=t1.index(23)
print(x)

(12, 23, 34, 45, 23, 67)
1

In [15]:
t1=(12,34,34,23,34,45,23,67)
print(t1)
x=t1.index(23)
print(x)

(12, 34, 34, 23, 34, 45, 23, 67)
3

In [17]:
t1=(1,2,3,4,5,6,77)
ls=list(t1)
ls.append(98)
t1=tuple(ls)
print(t1)

(1, 2, 3, 4, 5, 6, 77, 98)