In [1]:
#python Dictionary
#the dictionary is an unordered collection that contains 
#key:valuevpairs separated by commas inside curly
#brackets.Dictionary are optimized to retrieve values when the key is known.

# The following declares a dictionary object.

capitals = {"USA":"Washington D.C.", "France":"Paris","India:"New Delhi"}.
print(type(capitals))  # <class 'dict'>

SyntaxError: unterminated string literal (detected at line 8) (1946374367.py, line 8)

In [3]:
d = {} # empty dictionaary

numNames={1:"One" and Half", 2.5: "Two and Half", 3.5:"Three and Half"} # float key ,string value

decNames={1.5:"One and Half", 2.5: "Two and Half", 3.5 "Three and Half"}  # float key , string value

items={("Parker","Reynolds","Calmin"):"pen",("LG","Whirlool","Samsung"): "Refrigerator"} # tuple key , string value

romanNums = {'I':1, 'II':2, 'III':3, 'IV':4, 'V':5} #string key , int val

# most importan

1

the same key cannot appear more than once in a collection . If the key appers more than once, only the last will be retained.
The value can be of any data type.
One value can be assigend to more than one key.

SyntaxError: unterminated string literal (detected at line 3) (1577583338.py, line 3)

In [5]:
Iqbal= {1:"One", 2:"Two", 3:"Three", 2:"Two", 1:"Two", 2:"Two"}
print(Iqbal)

{1: 'Two', 2: 'Two', 3: 'Three'}

In [4]:
#A dictionary can also be created using the dict() constructor method

In [6]:
# Example: dict() Constructor Method
emptydict= dict()

In [8]:
numdict= dict(I="One",II="Two",III="Three")
print(numdict)

{'I': 'One', 'II': 'Two', 'III': 'Three'}

In [10]:
numdict= dict((('I','one'), ('II','two'), ('III','three')))
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [11]:
# Access Dictionary
Dictionary is an unordered collection,so a value cannot be accessed using an index; instead,
a key must be specified in the square bracket, as shown below.

SyntaxError: invalid syntax (3599168758.py, line 2)

In [12]:
numNames= {1:"One", 2:"Two", 3:"Three"}
print(numNames[1], numNames[2], numNames[3],) # output: One Two Three

One Two Three

In [13]:
capitals ={"USA":"Washington DC", "France":"Paris", "India":"New Delhi"}
print(capitals["USA"], capitals["France"], capitals["India"],)

Washington DC Paris New Delhi

In [14]:
capitals ={"USA":"Washington DC", "France":"Paris", "India":"New Delhi"}

print(capitals["USA"], capitals["France"], capitals["India"],)

#following throws an error
print(capitals["usa"])
print(capitals["Japan"])

Washington DC Paris New Delhi

KeyError: 'usa'

In [15]:
# Get Method

#Use the get() method to retrive the key's value even if keys are not known. It returns NONE if the keys doesnot exist intead of raising an error

In [16]:
numNames={1:"One", 2:"Two", 3:"Three"}
print(numNames.get(1), numNames.get(2), numNames.get(3))

One Two Three

In [17]:
capitals ={"USA":"Washington DC", "France":"Paris", "India":"New Delhi"}
print(capitals.get("USA"), capitals.get("Spain"))

Washington DC None

In [18]:
# Access Dictionary using for loop
Use the for loop to iterate a dictionary in the python Script.

SyntaxError: invalid syntax (1040903117.py, line 2)

In [21]:
#Example: Using Dictionary Using For Loop
capitals={"USA":"Washington DC", "France":"Paris", "India":"New Delhi"}
for key in capitals:
    print(key)

USA
France
India

In [24]:
capitals={"USA":"Washington DC", "France":"Paris", "India":"New Delhi"}
for key in capitals:
    print("Key= " + "key + ", "value = " + capitals[key])
    print(key)

Key= key +  value = Washington DC
USA
Key= key +  value = Paris
France
Key= key +  value = New Delhi
India

In [25]:
capitals={"USA":"Washington DC", "France":"Paris", "India":"New Delhi"}
for key in capitals:
    print("Key= " + "key + ", "value = " + capitals[key])

Key= key +  value = Washington DC
Key= key +  value = Paris
Key= key +  value = New Delhi

In [26]:
# Update Dictionary
#As mentioned earlier, the key cannot apper more than once. Use the same key and assign a new value to it to update the Dictionary object.

In [28]:
#Exampe: Update Value of key
captains= {"England":"Root", "Australia":"Smith", "India":"Dhoni"}
print(captains)

captains['India'] = 'Virat'
captains['Australia'] = 'Paine'
print(captains)

{'England': 'Root', 'Australia': 'Smith', 'India': 'Dhoni'}
{'England': 'Root', 'Australia': 'Paine', 'India': 'Virat'}

In [29]:
captains= {"England":"Root", "Australia":"Smith", "India":"Dhoni"}
print(captains)

captains['India'] = 'Virat'
captains['Australia'] = 'Paine'
captains['South Africa'] = 'David Miller'
print(captains)

{'England': 'Root', 'Australia': 'Smith', 'India': 'Dhoni'}
{'England': 'Root', 'Australia': 'Paine', 'India': 'Virat', 'South Africa': 'David Miller'}

In [30]:
# Delete Values from a Dictionary
#Use the del keyword, pop(), or popitem() methods to delete a pair from a dictionary or the dictionary object itself. To delete a pair, use its
#key as a parameter. To delete a Dictionary object itself, use del dictionry_name.

In [31]:
# Example: Delete a Key-Value Pair
captains= {'Austraila': 'Paine', 'India':'Virat', 'Srilanka':'Jaysurya'}
print(captains)

{'Austraila': 'Paine', 'India': 'Virat', 'Srilanka': 'Jaysurya'}

In [34]:
captains= {'Australia': 'Paine', 'India':'Virat', 'Srilanka':'Jaysurya'}

del captains['Australia']
print(captains)

{'India': 'Virat', 'Srilanka': 'Jaysurya'}

In [4]:
#  Multi-Dimentional Dictionary
#Let's assume there are three dictionary objects, as below:

d1={"name":"Steve","age":25, "marks":60}
d2={"name":"anil","age":23, "marks":75}
d3={"name":"Asha","age":20, "marks":70}
#Let,s assign roll numbers to these students and create a multi-dimentional
#dictionary with roll number as key and the above dictionaries at their value.
students={1:d1, 2:d2, 3:d3}
print(students)

{1: {'name': 'Steve', 'age': 25, 'marks': 60}, 2: {'name': 'anil', 'age': 23, 'marks': 75}, 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

In [36]:
# example MUlti-dimentional dictionary

d1={"name":"Steve","age":25, "marks":60}
d2={"name":"anil","age":23, "marks":75}
d3={"name":"Asha","age":20, "marks":70}
students={1:d1, 2:d2, 3:d3}
print(students)

{1: {'name': 'Steve', 'age': 25, 'marks': 60}, 2: {'name': 'anil', 'age': 23, 'marks': 75}, 3: {'name': 'Asha', 'age': 20, 'marks': 70}}