In [1]:
# Python -- Set
even_nums = {2, 4, 6, 8, 10} # set of even number
print(even_nums)

{2, 4, 6, 8, 10}

In [1]:
 emp = {1, 'Steve', 10.5, True,0,False} # set of different object
print(emp)

{0, 1, 10.5, 'Steve'}

In [5]:
'''
A set doesn't store duplicate object . Even if an object is added more than once inside the curly brackets, only one copy is held in the set object.
Hence, indexing and slicing operations cannot be done on a set obejct.
'''

"\nA set doesn't store duplicate object . Even if an object is added more than once inside the curly brackets, only one copy is held in the set object.\nHence, indexing and slicing operations cannot be done on a set obejct.\n"

In [6]:
nums= {1,2,2,3,4,4,5,5}
print(nums) # output {1,2,3,4,5}

{1, 2, 3, 4, 5}

In [7]:
myset = {(10,10),10,20}
print(myset)

{(10, 10), 10, 20}

In [11]:
myset = {[10,10],10,20}
print(myset)  #TypeError can't adda list # Hashable object

TypeError: unhashable type: 'list'

In [10]:
myset = {{10,10},10,20}
print(myset)  # TypeError can't add a set #hashable

TypeError: unhashable type: 'set'

In [15]:
emp = {} #creates an empty dictionary
print(type(emp)) #<class 'dict')>

<class 'dict'>

In [13]:
s = set() # creates an empty set
print(type(s)) # <class 'set'>

<class 'set'>

In [16]:
'''
The set() function also use to convert string, tuple, or dictionary object to a set object, as shown below.
'''

'\nThe set() function also use to convert string, tuple, or dictionary object to a set object, as shown below.\n'

In [17]:
# convert sequence to set
s=set('Hello') # converts string to set
print(s)

{'l', 'o', 'H', 'e'}

In [18]:
s=set((1,2,3,4,5)) #convert tuple to set
print(s)

{1, 2, 3, 4, 5}

In [21]:
d={1:'One', 2:'Two'}
s=set(d) # convert dict to set
print(s)

{1, 2}

In [22]:
'''
Modify Set Elements
Use built-in set function add(), remove() or update() methods to modify set collection.
'''

'\nModify Set Elements\nUse built-in set function add(), remove() or update() methods to modify set collection.\n'

In [23]:
s=set() # creates an empty set
s.add(10) # add an element
s.add(20)
s.add(30)
print(s)

{10, 20, 30}

In [24]:
primeNums = {2, 3, 5, 7}
s.update(primeNums) #update set with another set
print(s)

{2, 3, 20, 5, 7, 10, 30}

In [25]:
s.remove(2) # remove an element
print(s)

{3, 20, 5, 7, 10, 30}

In [26]:
'''
Python set clear () method
The set.clear() method removes all the elements from the set.

syntax:
set.clear()
'''

'\nPython set clear () method\nThe set.clear() method removes all the elements from the set.\n\nsyntax:\nset.clear()\n'

In [27]:
langs = {'Python','C++','C','Go'}
langs.clear()
print("Set after the clear() method is called:",langs) #set()

Set after the clear() method is called: set()

In [28]:
'''
Python Set copy() Method
The set.copy() method returns a shallow copy of the set.

syntax:
set.copy()
'''

'\nPython Set copy() Method\nThe set.copy() method returns a shallow copy of the set.\n\nsyntax:\nset.copy()\n'

In [29]:
langs = {'Python','C++','Java'}
copiedLangs = langs.copy()
print("Original Set:", langs)
print("Copied Set:", copiedLangs)

Original Set: {'C++', 'Java', 'Python'}
Copied Set: {'C++', 'Java', 'Python'}

In [31]:
'''
Pyhton Set difference() Method
The set.difference() method returns the new set with the unique elements that or not in the other set passed as a parameter.

syntex:
set.difference(*other_set)
'''

'\nPyhton Set difference() Method\nThe set.difference() method returns the new set with the unique elements that or not in the other set passed as a parameter.\n\nsyntex:\nset.difference(*other_set)\n'

In [32]:
nums1 = {1,2,2,3,4,5}
nums2 = {4,5,6,7,8,8}

nums3 = nums1.difference(nums2)
nums4 = nums2.difference(nums1)

print("nums1- nums2:", nums3)
print("nums2- nums1:", nums4)

nums1- nums2: {1, 2, 3}
nums2- nums1: {8, 6, 7}

In [33]:
nums1 = {1,2,2,3,4,5}
nums2 = {4,5,6,7,8,8}

In [34]:
nums3 = nums1.difference(nums2)
nums4 = nums2.difference(nums1)

In [35]:
print("nums1- nums2:", nums3)
print("nums2- nums1:", nums4)

nums1- nums2: {1, 2, 3}
nums2- nums1: {8, 6, 7}

# Python Set intersection() Method

The set.intersection() method returns a new set with the elements that are common in the given sets.

syntax:
set.intersection(*other_sets)

In [37]:
nums = {1,2,3,4,5}
oddNums = {1,3,5,7,9}
commonNums = nums.intersection(oddNums)
print("Common elements in nums and oddNums are:", commonNums)

Common elements in nums and oddNums are: {1, 3, 5}

In [2]:
nums = {1,2,3,4,5}
oddNums = {1,3,5,7,9}
primeNums = {2,3,5,7}
commonNums = nums.intersection(oddNums, primeNums)
print("Common elements:", commonNums)

Common elements: {3, 5}

In [ ]:
# Python Set union() Method
The set.union() method returns a new set with distinct elements from allthe given sets.
syntax:
A.union(*other_sets)

In [40]:
nums1={1,2,2,3,4,5}
nums2={4,5,6,7,7,8}

distinct_nums = nums1.union(nums2)

print(" The union of two sets is:", distinct_nums)

 The union of two sets is: {1, 2, 3, 4, 5, 6, 7, 8}