In [3]:
 # Function
def addition():
    a=int(input("enter the number"))
    b=int(input("enter the number"))
    c=a+b
    print("the sum is",c)

In [4]:
addition()

enter the number 12
enter the number 9

the sum is 21

In [6]:
addition()

enter the number 6
enter the number 2

the sum is 8

In [7]:
# Even number with if else
def cheak():
    n=int(input("Enter the number"))
    if n%2==0:
        print("Even Number")
    else:
        print("Odd Number")

In [8]:
cheak()

Enter the number 34

Even Number

In [9]:
cheak()

Enter the number 3

Odd Number

In [10]:
import math
x=math.factorial(5)
print(x)

120

In [3]:
def fact():
    n=int(input("Enter the number"))
    f=1
    while n>0:
        f=f*n
        n=n-1
    print("The factorial is ",f)

In [4]:
fact()

Enter the number 5

The factorial is  120

In [16]:
fact()

Enter the number 50

The factorial is  30414093201713378043612608166064768844377641568960512000000000000

In [23]:
def reverse():
    n=int(input("enter the number"))
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    print("the reverse is",rev)

In [26]:
reverse()

enter the number 45

the reverse is 54

In [29]:
reverse()

enter the number 10

the reverse is 1

In [30]:
reverse()

enter the number 321

the reverse is 123

In [32]:
# with List
def create():
    ls=[]
    for i in range(10):
        n=int(input("Enter the number"))
        ls.append(n)
    print(ls)

In [33]:
create()

Enter the number 1
Enter the number 2
Enter the number 3
Enter the number 4
Enter the number 5
Enter the number 6
Enter the number 7
Enter the number 8
Enter the number 9
Enter the number 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
create()

Enter the number 23
Enter the number 445
Enter the number 55
Enter the number 6
Enter the number 7
Enter the number 7
Enter the number 9
Enter the number 9
Enter the number 94
Enter the number 23

[23, 445, 55, 6, 7, 7, 9, 9, 94, 23]

# Argument
def function_name(arg1,arg2....):
    logic \ computation

function_name(arg1,arg2...)

In [35]:
def addition(a,b):
    c=a+b
    print("The sum is ", c)

In [36]:
addition(12,23)

The sum is  35

In [38]:
x=int(input())
y=int(input())
addition(x,y)

 12
 34

The sum is  46

In [44]:
def leap_year(n):
    if n%4==0:
        print("Leap Year")
    else:
        print("Not Leap Year")

In [45]:
leap_year(2024)

Leap Year

In [46]:
y=int(input())
leap_year(y)

 2019

Not Leap Year

In [47]:
def fact(n):
    f=1
    while n>0:
        f=f*n
        n=n-1
    print("the factorial is ",f)

In [48]:
fact(6)

the factorial is  720

In [55]:
def reverse(n):
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    print("the reverse is",rev)

In [56]:
reverse(34)

the reverse is 43

In [57]:
reverse(24)

the reverse is 42

In [58]:
def reverse(n):
    rev=0
    while n>0:
        rev=rev*10+n%10
        n=n//10
    print("the reverse is",rev)

In [60]:
reverse(36)

the reverse is 63

In [63]:
x=int(input())
reverse(x)

 23

the reverse is 32

In [69]:
def oddeven(n):
    ls_e=[]
    ls_o=[]
    for i in n:
        if i%2==0:
            ls_e.append(i)
        else:
            ls_o.append(i)
    print("Even List",ls_e)
    print("Odd List",ls_o)

In [70]:
oddeven([12,23,34,445,5,67,54,67,788,75,44])

Even List [12, 34, 54, 788, 44]
Odd List [23, 445, 5, 67, 67, 75]

In [71]:
def rev_list(n):
    print(n[::-1])
rev_list([34,45,67])

[67, 45, 34]

In [76]:
def rev_list(n):
    for i in range(len(n)-1,-1,-1):
        print(n[i])
rev_list([56,67,78])

78
67
56

In [77]:
def rev_list(n):
    for i in range(len(n)-1,-1,-1):
        print(n[i])

In [78]:
rev_list([23,45,67])

67
45
23

In [79]:
def rev_list(n):
    for i in range(len(n)-1,-1,-1):
        print(n[i],end=" ")

In [80]:
rev_list([56,67,78])

78 67 56

In [1]:


#  Place Holder Argument

In [6]:
def addition(a,b=300,c=600):
    d=a+b+c
    print("The sum is ", d)

In [7]:
addition(300)

The sum is  1200

In [8]:
addition(1000,400)

The sum is  2000

In [13]:
addition(500,500,500)

The sum is  1500

In [14]:
# simple interest

def interest(p=1000,r=3.6,t=5):
    si=p*r*t/100
    print("The interest is ", si)

In [15]:
interest()

The interest is  180.0

In [16]:
interest(4000)

The interest is  720.0

In [17]:
interest(3000,7.9)

The interest is  1185.0

In [18]:
interest(8000,9.8,9)

The interest is  7056.0

In [19]:

# return the value
# this is packing concept

def mathop(a,b):
    return a+b,a-b,a*b,a/b

In [22]:
x=mathop(23,45)
print(x)

(68, -22, 1035, 0.5111111111111111)

In [24]:
x,y,z,w=mathop(23,45)
print("Sum",x)
print("Sub",y)
print("Mul",z)
print("Div",w)

Sum 68
Sub -22
Mul 1035
Div 0.5111111111111111

In [25]:
# Even odd number
def cheak(n):
    if n%2==0:
        return "Even Number"
    else:
        return "Odd Number"

In [26]:
print(cheak(55))

Odd Number

In [27]:
print(cheak(66))

Even Number




-------DEFINING THE FUNCTIONS-------

In [28]:
def datascience(a,b,c,d,e):
    return(a+b,a*b)

In [31]:
datascience(2,3,4,5,6)

(5, 6)

In [32]:
def datascience(a,b,c,d,e):
    return(a+b,a*b,a/b)

In [33]:
datascience(2,3,4,5,6)

(5, 6, 0.6666666666666666)

In [34]:
def hello(a,b):
    return("My name is {} and gender is {}".format(a,b))

In [37]:
a=hello("Iqbal","Male")

In [38]:
a

'My name is Iqbal and gender is Male'

In [40]:
# return default type

def addition(a,b=700,c=600):
    return a+b+c
print(addition(300))
print(addition(a=400,c=500))
print(addition(100,2000,3000))

1600
1600
5100

In [42]:
addition(1000)

2300

In [43]:
def hello(name,age=23,gender="male"):
    return("My name is {} and age is {} and gender is {}".format(name,age,gender))

In [45]:
hello("Iqbal")

'My name is Iqbal and age is 23 and gender is male'

In [48]:
u = [1,2,3]

In [49]:
u

[1, 2, 3]

In [50]:
print(*u)

1 2 3

In [51]:
a,*b,c=[1,2,3,4,5,6,78,89,90]

In [52]:
a

1

In [53]:
b

[2, 3, 4, 5, 6, 78, 89]

In [54]:
c

90

In [59]:
a,b,*c=[2,3,4,44,5,6,7,7,7,65,4,6,7,7]

In [60]:
a

2

In [61]:
b

3

In [62]:
c

[4, 44, 5, 6, 7, 7, 7, 65, 4, 6, 7, 7]

In [63]:
A = [1,2,3]
B = [4,5,6]
C = [A,B]
C

[[1, 2, 3], [4, 5, 6]]

In [65]:
D = [*A,*B]
print(D)

[1, 2, 3, 4, 5, 6]

In [67]:
A = [1,2,3]
B = [4,5,6]
C = [7]
D = [A,B,C]
D

[[1, 2, 3], [4, 5, 6], [7]]

In [68]:
E = [*A,*B,*C]
E

[1, 2, 3, 4, 5, 6, 7]

In [69]:
a = [*"MohammadIqbal"]
a

['M', 'o', 'h', 'a', 'm', 'm', 'a', 'd', 'I', 'q', 'b', 'a', 'l']

In [70]:
a = [*"Mohammad Iqbal"]
a

['M', 'o', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 'I', 'q', 'b', 'a', 'l']

In [71]:
d1 = {"A":1 , "B":2}

d2 = {"C":3 , "D":4}

In [72]:
d1.update(d2)

In [73]:
d1

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [75]:
#--------------------- meaning of **kwargs (Keyword Argument:- to unpack dictionaries-------------

d1 = {"A":1 , "B":2}
d2 = {"C":34 , "D":34}
d3 = {**d1 , **d2}
d3

{'A': 1, 'B': 2, 'C': 34, 'D': 34}

In [2]:
d1 = {"A":1 , "B":2}
d2 = {"C":34 , "D":34}
d3 = {*d1 , *d2}
d3

{'A', 'B', 'C', 'D'}

In [3]:
def my_sum(*a):
    result=0
    for i in a:
        result +=i
    return result

In [4]:
list1 = [1,2,3]
list2 = [4,5]
list3 = [6,7,8,9]
my_sum(*list1,*list2,*list3)

45