In [4]:
# Sum of first 10 natural number

i=1
s=0
while i<=10:
    s=s+i
    i=i+1
print("The sum is",s)

#s=s+i
#s=0+1=1
#s=1+2=3
#s=3+3=6
#s=6+4=10

The sum is 55

In [8]:
# print only even number in a range

n=int(input("enter the stop value"))
i=1
while i<=n:
    if i%2==0:
        print(i,end=" ")
    i=i+1

enter the stop value 200

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

In [2]:
# print only even number in a range

n=int(input("enter the stop value"))
i=1
while i<=n:
    if i%2==1:
        print(i,end=" ")
    i=i+1

enter the stop value 200

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199

In [1]:
# print only even number in a range

n=int(input("enter the stop value"))
i=1
se=0
so=0
while i<=n:
    if i%2==0:
        se=se+i
    else:
        so=so+i
    i=i+1
print("The sum of even numbers is",se)
print("The sum of odd number is",so)

enter the stop value 100

The sum of even numbers is 2550
The sum of odd number is 2500

In [8]:
# print only even number in a range

n=int(input("enter the stop value"))
i=1
while i<=n:
    if i%2==0:
        print(i,end=" ")
    i=i+1

enter the stop value 200

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

In [9]:
# print only even number in a range

n=int(input("enter the stop value"))
i=1
while i<=n:
    if i%2==1:
        print(i,end=" ")
    i=i+1

enter the stop value 200

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199

In [10]:
#table of given number

n=int(input("enter the number"))
i=1
while i<=10:
    print(n*i)
    i=i+1

enter the number 2

2
4
6
8
10
12
14
16
18
20

In [11]:
#table of given number

n=int(input("enter the number"))
i=1
while i<=10:
    print(n,"*","=",n*i)
    i=i+1

enter the number 2

2 * = 2
2 * = 4
2 * = 6
2 * = 8
2 * = 10
2 * = 12
2 * = 14
2 * = 16
2 * = 18
2 * = 20

In [18]:
#table of given number

n=int(input("enter the number"))
i=1
while i<=10:
    print(n,"*","i","=",n*i)
    i=i+1

enter the number 2

2 * i = 2
2 * i = 4
2 * i = 6
2 * i = 8
2 * i = 10
2 * i = 12
2 * i = 14
2 * i = 16
2 * i = 18
2 * i = 20