In [10]:
# fibonacci series

first=0
second=1
i=0
n=int(input("enter the lenght of the series"))
while i<=n:
    if i<=1:
        next=i
    else:
        next=first+second
        first=second
        second=next
    print(next,end=" ")
    i=i+1

enter the lenght of the series 10

0 1 1 2 3 5 8 13 21 34 55

In [4]:
#for loop

s1="Iqbal"
for i in s1:
    print(i)

I
q
b
a
l

In [12]:
name=[12,23,34,45,56,67]   # []--List
for i in name:
    print(i)

12
23
34
45
56
67

In [13]:
t1=(12,23,34,45) #()--tuple
for i in t1:
    print(i)

12
23
34
45

In [14]:
# Range Function
#range(10)---- 0--9
#range(1,10)---- 1---9
#range(1,100,3)---- 1 4 7 10---

In [15]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [16]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [17]:
for i in range(1,100,3):
    print(i,end=" ")

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97

In [19]:
# sum of first n natural number

n=int(input("enter the stop value"))
s=0
for i in range(1,n+1):
    s=s+i
print("the sum is",s)

enter the stop value 30

the sum is 465

In [23]:
# table of a given number

n=int(input("enter the number"))
for i in range(1,11):
    print(n,"*",i,"=",n*1)

enter the number 6

6 * 1 = 6
6 * 2 = 6
6 * 3 = 6
6 * 4 = 6
6 * 5 = 6
6 * 6 = 6
6 * 7 = 6
6 * 8 = 6
6 * 9 = 6
6 * 10 = 6

In [27]:
# factors or divisiors of a given nummber

n=int(input("enter the number"))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")

enter the number 500

1 2 4 5 10 20 25 50 100 125 250 500

In [29]:
#------- Iterator loops (FOR)-------

In [30]:
a="Hello World"
"r" in a

True

In [31]:
a=(1,2,3,4,56,7)

for iqbal in a:
    if iqbal%2==0:
        print(iqbal)
    else:
        print("bye")

bye
2
bye
4
56
bye

In [1]:
st="Mohammad Iqbal"
for t in st:
    print(t,end="@")

M@o@h@a@m@m@a@d@ @I@q@b@a@l@

In [2]:
st="Mohammad Iqbal"
for t in st:
    print(t,end="\n")   #\n --- new line

M
o
h
a
m
m
a
d

I
q
b
a
l

In [3]:
st="Mohammad Iqbal"
for t in st:
    print(t,end="\t")    #\t tabbed spaces

M	o	h	a	m	m	a	d	 	I	q	b	a	l

In [36]:
st='a'
for i in range(5):
    print(s1*i)

Iqbal
IqbalIqbal
IqbalIqbalIqbal
IqbalIqbalIqbalIqbal

In [36]:
st='a'
for i in range(5):
    print(s1*i)

Iqbal
IqbalIqbal
IqbalIqbalIqbal
IqbalIqbalIqbalIqbal

In [5]:
a="hellow everyone"
vowel=["a","e","i","o","u"]
for i in a:
    if i in vowel:
        print(i)

e
o
e
e
o
e

In [6]:
a="hellow everyone"
vowel=["a","e","i","o","u"]
for i in a:
    if i not in vowel:
        print(i)

h
l
l
w

v
r
y
n

In [1]:
word="hello1"

for w in word:
    if w=="l":
        print("good one")
    print("data science")

data science
data science
good one
data science
good one
data science
data science
data science

In [14]:
se=0
so=0
for i in range(1,100):
    if i%2==0:
        se=se+i
    else:
        so=so+i
print("the sum of even number is ",se)
print("the sum of odd number is ",so)

the sum of even number is  2450
the sum of odd number is  2500

In [15]:
n=int(input("enter the number"))
f=1
for i in range(1,n+1):
    f=f*i
f

enter the number 5

120

In [ ]:
#----Continue Statement---

In [16]:
s="suraj"
for i in s:
    if i=="r":
        continue
        print("hello")
    else:
        print(i)

s
u
a
j

In [17]:
#--Break Statement----

In [18]:
s="suraj"
for val in s:
    if val=="r":
        break
    print(val)

s
u

In [19]:
# Pass Statement

In [20]:
s="string"
for i in s:
    if i=="r":
        pass
    print(i)

s
t
r
i
n
g