# Object Oriented Programming
Object Oriented Programming (OOP) is a programming paradigm that allows abstraction through the concept of interacting entities. This programming works contradictory to conventional model and is procedural, in which programs are organized as a sequence of commands or statements to perform.
We can think an object as an entity that resides in memory, has a state and it's able to perform some actions.
More formally objects are entities that represent instances of a general abstract concept called class. In Python, "attributes" are the variables defining an object state and the possible actions are called "methods".
In Python, everything is an object also classes and functions.

In [1]:
class employee():
    pass

In [2]:
employee_1=employee()
employee_2=employee()

In [3]:
employee_1.first_name='kanika'
employee_1.last_name='jain'
employee_1.salary=50000

In [4]:
employee_1.salary

50000

In [5]:
employee_1.first_name

'kanika'

In [6]:
employee_1.last_name

'jain'

# How to make constructor

In [7]:
class employee():
    def __init__(self,fname,lname,salary,edu):
       self.first_name=fname
       self.last_name=lname
       self.salary=salary
       self.education=edu

In [8]:
a=employee("shourya","chouhan",500000,"gamer")

b=employee("depanshu","jaat",100000,"basketball")

In [9]:
a.first_name

'shourya'

In [10]:
b.salary

100000

In [11]:
a.last_name

'chouhan'

# Define Function Under Class

In [12]:
class car:
    def __init__(xyz,color,year,body):
        xyz.color1=color
        xyz.year1=year
        xyz.body1=body
    def cal_age(xyz,current_year):
        return current_year - xyz.year1

In [13]:
kia = car("steelgrey",2010,"chromium")

In [14]:
kia.color1

'steelgrey'

In [15]:
kia.cal_age(2024)

14

#                            Instances and class variable

In [16]:
class employee():
    increment=2
    def __init__(self,fname,lname,salary):
       self.first_name=fname
       self.last_name=lname
       self.salary=salary
    def increase(self):
        pass

In [17]:
employee_1=employee("shourya","chouhan",50000)

employee_2=employee("dev","thapa",10000)

In [18]:

employee_1.first_name

'shourya'

In [19]:
employee_1.salary

50000

In [20]:
employee_1.increase()

In [21]:
class employee():
    increment=2
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary
    def increase(self):
        self.salary=self.salary*self.increment

employee_1=employee("shourya","chuhan",40000)

employee_2=employee("dev","thapa",10000)

employee_1.salary

40000

In [22]:
employee_2.increase()

In [23]:
employee_2.salary

20000

In [24]:
employee_1.salary

40000

In [25]:
class employee():
    increment=1.5
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary
    def increase(self):
        self.salary=self.salary*self.increment

employee_1=employee("shourya","chuhan",40000)

employee_2=employee("dev","thapa",10000)

employee_1.salary

40000

In [26]:
class employee():
    increment=1.5
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary
    def increase(self,increment):
        self.salary=self.salary*self.increment

employee_1=employee("shourya","chuhan",40000)

employee_2=employee("dev","thapa",10000)

In [27]:
employee_1.salary

40000

In [28]:
employee_2.salary

10000

In [29]:
employee_1.increase(5)

In [30]:
employee_1.salary

60000.0

In [31]:
employee_1.__dict__

{'first_name': 'shourya', 'last_name': 'chuhan', 'salary': 60000.0}

In [32]:
employee_2.__dict__

{'first_name': 'dev', 'last_name': 'thapa', 'salary': 10000}

In [33]:
class employee():
    no_of_employee=0
    increment=1.5
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary
        self.increment=2
        employee.no_of_employee+=1
    def increase(self):
        self.salary=self.salary*self.increment

In [34]:
employee.no_of_employee

0

In [35]:
employee_1=employee("arslan","idrishi",20000)

In [36]:
employee.no_of_employee

1

# Change the class variable by the help of Decorators

In [37]:
class employee():

    increment=1.5
    no_of_employee=0
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary
        employee.no_of_employee+=1

    def increase(self):
       self.salary=self.salary*employee.increment
    @classmethod
    def increment_amount(cls,amount):
        cls.increment=amount

In [38]:
employee_1=employee("altaf","hussain",4000)

employee_2=employee("sahil","hussain",1000)

In [39]:
employee_1.salary

4000

In [40]:
employee_1.increase()

In [41]:
employee_1.salary

6000.0

In [42]:
employee_1.increment_amount(5)

In [43]:
employee.increment

5

In [44]:
employee_2.salary

1000

In [45]:
employee_2.increase()

In [46]:
employee_2.salary

5000

In [ ]:
wrapping of data in a single unit is called class