In [1]:
class employee():
    pass

In [2]:
employee_1=employee
employee_2=employee

In [3]:
employee_1.first_name="iqbal"
employee_2.last_name="Mohammad"
employee_2.salary=1000

In [4]:
employee_1.first_name

'iqbal'

In [5]:
employee_2.salary

1000

In [6]:
employee_2.last_name

'Mohammad'

In [7]:
employee_2.first_name="Altaf"
employee_2.last_name="Hussain"
employee_2.salary=2000

In [8]:

employee_2.first_name

'Altaf'

In [9]:
employee_2.salary

2000

In [10]:
class employee():
    def __init__(self,fname,lname,salary,edu):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary
        self.education=edu

In [11]:
a=employee("zafar","hasan",3000,"gamer")
b=employee("altaf","hussain",5000,"study")

In [12]:
a.first_name

'zafar'

In [13]:
b.first_name

'altaf'

In [14]:
a.salary

3000

In [15]:
a.education

'gamer'

In [16]:
class car:
    def __init__(xyz,color,year,body):
        xyz.color1=color
        xyz.year1=year
        xyz.body1=body


    def cal_age(xyz,current_year):
        return current_year - xyz.year1

In [17]:
kia=car("steelgrey",2010,"cromium")

In [18]:
kia.color1

'steelgrey'

In [19]:
kia.cal_age(2024)

14

In [20]:
kia.year1

2010

# ......................... Intances and  class variables .........................

In [21]:
class employee():
    increment=2
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary

    def increase(self):
        pass

employee_1=employee("Iqbal","md",50000)

employee_2=employee("Zafar","hasan",35000)

In [22]:
employee_1.first_name

'Iqbal'

In [23]:
employee_1.increase()

In [24]:
class employee():
    increment=2
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary

    def increase(self):
       self.salary=self.salary * self.increment

employee_1=employee("iqbal","md",50000)
employee_2=employee("zafar","hasan",35000)
employee_1.salary

50000

In [25]:
employee_2.increase()

In [26]:
employee_2.salary

70000

In [27]:
class employee():
    increment=1.5
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary

    def increase(self, increment):
       self.salary=self.salary * self.increment

employee_1=employee("arslan","idrishi",50000)
employee_2=employee("sahil","ahamad",35000)

In [28]:

employee_1.salary

50000

In [29]:
employee_1.increase(5)

In [30]:
employee_1.salary

75000.0

In [31]:
employee_1.__dict__

{'first_name': 'arslan', 'last_name': 'idrishi', 'salary': 75000.0}

In [32]:
class employee():

    no_of_employees=0
    increment=1.5
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary
        self.increment=2
        employee.no_of_employees+=1


    def increase(self):
        self.salary=self.salary * employee.increment

In [33]:
employee.no_of_employees

0

In [34]:
employee_1=employee("altaf","hussain",50000)

In [35]:
employee.no_of_employees

1

In [36]:
employee_2=employee("zafar","hasan",35000)

In [37]:
employee.no_of_employees

2

In [38]:
employee_1.salary

50000

In [39]:
employee_1.increase()

In [40]:
employee_1.salary

75000.0

In [41]:
class employee():
    increment=1.5
    no_of_employees=0
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary

        employee.no_of_employees+=1


    def increase(self):
        self.salary=self.salary * employee.increment

    @classmethod
    def increment_amount(cls,amount):
        cls.increment=amount

In [42]:
employee_1=employee("zafar","hasan",50000)
employee_2=employee("altaf","hussain",35000)

In [43]:
employee_1.salary

50000

In [44]:
employee_1.increase()

In [45]:
employee_1.salary

75000.0

In [46]:
employee.increment_amount(5)

In [47]:
employee.increment

5

In [48]:
employee_2.salary

35000

In [49]:
employee_2.increase()

In [50]:
employee_2.salary

175000

In [51]:
class employee():
    increment=5
    no_of_employees=2
    def __init__(self,fname,lname,salary):
        self.first_name=fname
        self.last_name=lname
        self.salary=salary

        employee.no_of_employees+=1
    def increase(self):
        self.salary=self.salary * employee.increment

    @classmethod
    def increment_amount(cls,amount):
        cls.increment=amount

In [52]:
employee_1=employee("iqbal","md",100)
employee_2=employee("dev","thapa",200)

In [53]:
employee_1.salary

100

In [54]:
employee_1.increase()

In [55]:
employee_1.salary

500

In [56]:
employee.increment_amount(5)

In [57]:
employee.increment

5

In [58]:
employee_2.salary

200

In [59]:
employee_2.increase()

In [61]:
employee_2.salary

1000

# OOPs Second class